/*
----- 01 TYPOGRAPHY SYSTEM

- Font Weights:
Default: 1

- Line heights:
Default: 1

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- 02 COLORS

- primary : #e67e22
- Tiints :
- Shades :
- Accents:
- Grays
#555


--- 05 SHADOWS

--- 06 BORDER RADIUS

--- 07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  max-width: 120rem;
  color: #555;
  margin: 5rem auto;
}
/* Main header Section */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr 1fr auto;
  column-gap: 5rem;
  row-gap: 10rem;
}

/* ----Nav Bar---- */

/* Logo */

nav {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0;
}
.logo {
  max-width: 200px;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.nav-link:link,
.nav-link:visited {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: black;
  background-color: aquamarine;
  padding: 1rem 1.5rem;
}

.nav-link:hover,
.nav-link:active {
  background-color: rgb(216, 255, 242);
}

/* ----Head Section ---- */
.hero-img {
  max-width: 60rem;
  grid-column: 2;
  grid-row: 2;
}

.beside-hero-img {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.summery {
  line-height: 1.6;
}
.beside-hero-btn {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* tastemonails section */

.tastemonails-container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.tastemonails-container button {
  align-self: flex-start;
}

.tastemonails-small-photos {
  display: flex;
  max-width: 291px;
  position: relative;
}
.photo {
  position: absolute;
  max-width: 5rem;
  border-radius: 50%;
}

.p--2 {
  right: 10%;
}
.p--3 {
  right: 20%;
}
.p--4 {
  right: 30%;
}
.p--5 {
  right: 40%;
}
.p--6 {
  right: 50%;
}
.p--7 {
  right: 60%;
}
.p--8 {
  right: 70%;
}
.p--9 {
  right: 80%;
}
.p--10 {
  right: 90%;
}
