/* Johnas start with visual style first, then start building Layout itdelf. */

/* Step 1 Reset Page content */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Apply font famaily , color and font size in body or html */
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  font-size: 24px;
  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
  height: 100vh;
  text-align: center;
  font-weight: bold;
}
nav,
aside,
section,
main {
  padding-top: 24px;
}
nav {
  background-color: #343a40;
  grid-row: 1/-1;
  color: #fff;
}

menu {
  display: flex;
  background-color: #7048e8;
  grid-column: 2/-1;
  /* my try */
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 0 40px;
}

/* Note color not inherited from body to button */
button {
  /* display: inline-block; */
  font-size: 16px;
  font-weight: bold;
  background-color: #5f3dc4;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 8px 12px;
  /* my try */
}

button:last-child {
  background-color: #d6336c;
  /* Because there are no justify self so we used margin auto trick */
  margin-left: auto;
}

section {
  background-color: #e9ecef;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: scroll;
}
.email {
  background-color: #adb5bd;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

aside {
  background-color: #e9ecef;
}
