/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
Main Color : #087f5b;
Grey: ##343a40;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  /* Quotes around inter give it the first in=mportance to apply */
  font-family: "Inter", sans-serif;
  color: #343a40;
}

/* 

font-family: 'Inter', sans-serif;
*/
img {
  height: 200px;
  border-radius: 8px;
  transform: scale(1.6);
  align-self: center;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.carousel {
  background-color: #087f5b;
  width: 800px;
  margin: 100px auto;
  border-radius: 8px;
  position: relative;
  padding: 32px 48px 32px 96px;

  display: flex;
  /* align-items: center; */
  gap: 86px;
}
.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #e6fcf5;
}
.testimonial-author {
  font-size: 14px;
  margin-bottom: 4px;
  color: #c3fae8;
}
.testimonial-job {
  font-size: 12px;
  color: #c3fae8;
}

/* CONTROLS */
.btn {
  background-color: #fff;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.btn--left {
  /* In relation to parente element */
  left: 0;
  top: 50%;
  /* In relation to element itself */
  transform: translate(-50%, -50%);
}
.btn--right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}
.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}
.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  display: flex;
  gap: 12px;
  transform: translate(-50%, 32px);
}
.dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 2px solid #087f5b;
  border-radius: 50%;
  cursor: pointer;
}

.dot--fill {
  background-color: #087f5b;
}
