<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Web Application</title>
  </head>
  <body>
    <div class="main-container">
      <div class="nav">
        <p>Nav</p>
      </div>
      <div class="header">
        <div class="nav-options">
          <a href="#" class="btn">New</a>
          <a href="#" class="btn">Reply</a>
          <a href="#" class="btn">Forword</a>
          <a href="#" class="btn">Mark unread</a>
        </div>
        <a href="#" class="btn trash">Trash</a>
      </div>
      <div class="emails">
        <a href="#" class="email top-email">Email 1</a>
        <a href="#" class="email">Email 2</a>
        <a href="#" class="email">Email 3</a>
        <a href="#" class="email">Email 4</a>
        <a href="#" class="email">Email 5</a>
        <a href="#" class="email">Email 6</a>
        <a href="#" class="email">Email 7</a>
        <a href="#" class="email">Email 8</a>
        <a href="#" class="email">Email 9</a>
        <a href="#" class="email">Email 10</a>
        <a href="#" class="email">Email 11</a>
        <a href="#" class="email">Email 12</a>
        <a href="#" class="email">Email 13</a>
        <a href="#" class="email">Email 14</a>
        <a href="#" class="email">Email 15</a>
        <a href="#" class="email">Email 16</a>
        <a href="#" class="email">Email 17</a>
        <a href="#" class="email">Email 18</a>
        <a href="#" class="email">Email 19</a>
        <a href="#" class="email">Email 20</a>
      </div>
      <div class="email-view">
        <p>Email View</p>
      </div>
      <div class="additional-info">
        <p>Additional Info</p>
      </div>
    </div>
  </body>
</html>
