<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Accordion Component</title>
  </head>
  <body>
    <div class="table">
      <p class="title t--1">Chair</p>
      <p class="title t--2">The Laid Back</p>
      <p class="title t--3">Two Worker Bee</p>
      <p class="title t--4">The Chair 4/2</p>

      <p class="sub-title s--1">Width</p>
      <p class="sub-title s--2">Height</p>
      <p class="sub-title s--3">Depth</p>
      <p class="sub-title s--4">Weight</p>

      <p class="row width gray width--1">80 cm</p>
      <p class="row width gray width--2">60 cm</p>
      <p class="row width gray width--3">2200 cm</p>

      <p class="row hight light hight--1">100 cm</p>
      <p class="row hight light hight--2">110 cm</p>
      <p class="row hight light hight--3">90 cm</p>

      <p class="row depth gray depth--1">70 cm</p>
      <p class="row depth gray depth--2">65 cm</p>
      <p class="row depth gray depth--3">80 cm</p>

      <p class="row weight light weight--1">16 kg</p>
      <p class="row weight light weight--2">22 kg</p>
      <p class="row weight light weight--3">80 kg</p>
    </div>
  </body>
</html>
